
.checkbox-custom-label:hover{
  cursor: pointer
}

.bg-theme-dark{
  background-color: #252c41;
}

.no-p-breadcrumb{
  background-color: transparent;
  box-shadow: none;
}

.edu_data .title a{
  height: 70px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.education_block_body .bl-title a{
  /* height: 70px; */
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.articles_grid_caption h4{
  margin-bottom: 8px;
}

.articles_grid_caption>h4 a{
  color: inherit;
  height: 52px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.nav-brand img{
  position: static;
  height: 42px;
  max-width: 170px;
}

label.btn-shop{
  border: 1px solid #e3e6f1 !important;
}

.btn-shop.active{
  background-color: #da0b4e;
  color: white;
  border-color: #da0b4e !important;
}

.alert-theme{
  position: fixed;
  right: 50%;
  bottom: 1rem;
  display: none;
  align-items: center;
  min-width: 18rem;
  transform: translate(50%);
}

.alert-text{
  flex-grow: 1;
}

.close-theme{
  background-color: transparent;
  border: 0;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1rem;
  text-shadow: 0 1px 0 #fff;
  margin-left: 1rem;
  opacity: .5;
  color: inherit;
  cursor: pointer;
  transition: opacity .2s ease-in-out;
}

.close-theme span{
  font-size: inherit;
  line-height: 1rem;
}

.close-theme:hover{
  opacity: 1;
  transition: opacity .2s ease-in-out;
}

.show-alert{
  display: flex;
}

.articles_grid_caption .meta{
  margin-top: 16px;
}

.articles_grid_caption .meta li{  
  margin-right: 15px;
  font-size: 14px;
  display: inline-block;
}

.articles_grid_caption .meta li i{
  margin-right: 5px;
}

.widget_thumb_post .feed-title{
  max-height: 44px;
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.lectures-list::-webkit-scrollbar{
  width: 5px;
  z-index: 1024;
}
 
.lectures-list::-webkit-scrollbar-track {
  background-color: rgba(80,95,140, .1);
}
 
.lectures-list::-webkit-scrollbar-thumb {
  background-color: rgba(80,95,140, .3);
}

.lectures-list{
  max-height: 55vh;
  overflow-y: scroll;
}

.webinar-row .education_block_grid .cources_info{
  padding: 5px 20px 15px;
}

.category-nav .nav-link.active{
  color: #da0b4e;
}

.category-nav .nav-link{
  padding-left: 0;
}

.category-sidebar{
  padding: 2rem;
}